/*
 * ============================================================
 * Guacamole Layout Adjustments
 * ============================================================
 */

body {
  padding-top: var(--dod-banner-height);
  padding-bottom: var(--dod-banner-height);
  overflow: hidden;
}
